<div class="TaskDetailController">
	<form class="form-horizontal">
	  <div class="form-group">
	    <label for="taskName" class="col-sm-2 control-label">Name</label>
	    <div class="col-sm-10">
	      <input ng-model="task.name" type="text" class="form-control" id="taskName" placeholder="Name">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="taskDetails" class="col-sm-2 control-label">Details</label>
	    <div class="col-sm-10">
	      <input ng-model="task.details" type="text" class="form-control" id="taskDetails" placeholder="Details">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="taskIsComplete" class="col-sm-2 control-label">Is Complete</label>
	    <div class="col-sm-10">
	      <input ng-model="task.is_complete" type="checkbox" id="taskIsComplete" placeholder="Details">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="taskCreationDate" class="col-sm-2 control-label">Creation Date</label>
	    <div class="col-sm-10">
	      <input ng-model="task.is_complete" type="text" class="form-control" id="taskCreationDate" placeholder="Details">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10 text-right">
	      <button type="button" class="btn btn-default">Close</button>
	    </div>
	  </div>
	</form>
</div>