<form class="form-horizontal" name="form" ng-submit="save()" id="taskDetailsView">
  <div class="form-group">
    <!-- <label for="taskName" class="col-xs-2 control-label" placeholder="Name"></label> -->
    <div class="col-xs-12">
      <input ng-model="task.name" type="text" class="form-control" id="taskName" placeholder="Name" ng-focus>
    </div>
  </div>
  <div class="form-group">
    <!-- <label for="taskDetails" class="col-xs-2 control-label">Details</label> -->
    <div class="col-xs-12">
      <input ng-model="task.details" type="text" class="form-control" id="taskDetails" placeholder="Details">
    </div>
  </div>
  <div class="form-group">    
    <div class="col-xs-10">
      <div class="input-group">
        <input ng-model="task.assigned_date" type="datetime-local" class="form-control" id="taskAssignedDate">
          <div class="input-group-btn"><button type="button" class="btn btn-default" ng-click="setAssignedDateToToday(task)">Today</button></div>
      </div>	      
    </div>	    	    
    <label for="taskAssignedDate" class="col-xs-2">Assigned Date</label>
  </div>
  <div class="form-group">    
    <div class="col-xs-10">
      <input ng-model="task.due_date" type="datetime-local" class="form-control" id="taskDueDate">
    </div>
    <label for="taskDueDate" class="col-xs-2">Due Date</label>
  </div>
  <div class="form-group">    
    <div class="col-xs-10">
      <input type="text" class="form-control" id="taskDaysLeft" ng-model="daysLeft" readonly>
      <!-- <p class="form-control-static" id="taskDaysLeft">{{getDaysLeft}}</p> -->
    </div>
    <label for="taskDaysLeft" class="col-xs-2">Days Left</label>
  </div>
  <div class="form-group">       
    <!-- <input ng-model="task.is_complete" ng-change="setCompletionDate(task)" type="checkbox" id="taskIsComplete" placeholder="Details"> -->
    <select ng-model="status" ng-repeat="status_thing in status_options" id="taskStatus">
    </select>
    <label for="taskStatus" class="col-xs-2">Status</label>
  </div>
  <div class="form-group" ng-if="task.is_complete">
    <label for="taskCompletionDate" class="col-xs-2 control-label">Completion Date</label>
    <div class="col-xs-10">
      <input ng-model="task.completion_date" type="datetime-local" class="form-control" id="taskCompletionDate">
    </div>
  </div>
  <div class="form-group" ng-if="formMode !== 'add'">
    <label for="taskCreationDate" class="col-xs-2 control-label">Creation Date</label>
    <div class="col-xs-10">
      <input ng-model="task.creation_date" type="datetime-local" class="form-control" id="taskCreationDate" readonly>
    </div>
  </div>
  <div class="form-group" ng-if="formMode !== 'add'">
    <label for="taskCreationDate" class="col-xs-2 control-label">Modified Date</label>
    <div class="col-xs-10">
      <input ng-model="task.modified_date" type="datetime-local" class="form-control" id="taskModifiedDate" readonly>
    </div>
  </div>
  <div class="form-group" ng-if="formMode !== 'add'">
    <label for="taskUser" class="col-xs-2 control-label">User</label>
    <div class="col-xs-10">
      <input ng-model="task.user_id" type="text" class="form-control" id="taskUser" readonly>
    </div>
  </div>
  <div class="form-group">
    <label for="taskLocation" class="col-xs-2 control-label">Location</label>
    <div class="col-xs-10">
      <input ng-model="task.location" type="text" class="form-control" id="taskLocation">
    </div>
  </div>
  <div class="form-group">
    <label for="taskIsSkipped" class="col-xs-2 control-label">Is Skipped</label>
    <div class="col-xs-10">
      <input ng-model="task.is_skipped" type="checkbox" id="taskIsSkipped" placeholder="Details">
    </div>
  </div>    
  <div class="form-group">
    <label class="col-xs-2 control-label">Reminders</label>
    <div class="col-xs-10">
      <div ui-view="taskReminders">
    </div>
  </div>    
  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-10 text-right">
      <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>