<form class="user-credentials" ng-submit="changePassword(credentials)" novalidate>
  <div>Change Password</div>
  <label for="email" class="sr-only">Email address</label><input type="email" id="email" class="form-control" placeholder="Email" ng-model="credentials.email" required autofocus />
  <label for="confirmEmail" class="sr-only">Confirm Email address</label><input type="email" id="confirmEmail" class="form-control" placeholder="Confirm Email" ng-model="credentials.confirmEmail" />
  <label for="newPassword" class="sr-only">Password</label><input type="password" id="newPassword" class="form-control" placeholder="Password" ng-model="credentials.newPassword" required>
  <label for="confirmNewPassword" class="sr-only">Password</label><input type="password" id="confirmNewPassword" class="form-control" placeholder="Password" ng-model="credentials.confirmNewPassword" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>