<form class="user-credentials" name="loginForm" ng-submit="login(credentials)" novalidate>
  <div class="display-table full-width">
    <div class="display-table-row">
      <div class="display-table-cell"><h2 class="user-credentials-heading">Log In</h2></div>    
      <div class="display-table-cell text-right"><a ui-sref="signup">Sign Up</a></div>  
    </div>          
  </div>   
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="credentials.email" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="credentials.password" required>
  <!--
  TODO: Finish implementing forgot password functionality
  <a ui-sref="change-password" class="forgot-password">Forgot password?</a>
  -->
  <button class="btn btn-lg btn-primary btn-block login" type="submit">Log In</button>
  <div class="alert alert-danger" role="alert" ng-if="error">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error}}
  </div>
</form>