<div ng-controller="HomeController">
	<div>Task Completion Statistics</div>
	<div>Recently Completed Tasks</div>
	<div>Upcoming Tasks</div>
	<p>All Tasks</p>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Assigned Date</th>
				<th>Due Date</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="task in tasks">
				<td>{{task.name}}</td>
				<td>{{task.assigned_date | date:'yyyy-MM-dd h:mma'}}</td>
				<td>{{task.due_date | date:'yyyy-MM-dd h:mma'}}</td>
			</tr>
		</tbody>
	</table>
	<a ui-sref="login" ng-if="!isUserAuthenticated">Login</a>
	<button ng-click="logout()" ng-if="isUserAuthenticated">Logout</button>
</div>