body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.textAlignRight{
	text-align: right;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
a {cursor: pointer;}