body {  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.textAlignRight{
	text-align: right;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
a {cursor: pointer;}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.glyphicon-refresh.spinning {
  transform-origin: 50% 50%;
}

.margin-bottom-15{ margin-bottom: 15px; }
.margin-top-15{ margin-top: 15px; }