body {  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.textAlignRight{
	text-align: right;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
a {cursor: pointer;}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.glyphicon-refresh.spinning {
  transform-origin: 50% 50%;
}

.margin-bottom-15{ margin-bottom: 15px; }
.margin-top-15{ margin-top: 15px; }

.display-table{ display: table;  }
.display-table-row{ display: table-row;  }
.display-table-cell{ display: table-cell; }

.full-width{ width: 100%; }

.user-credentials {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.user-credentials .user-credentials-heading,
.user-credentials .checkbox {
  margin-bottom: 10px;
}
.user-credentials .checkbox {
  font-weight: normal;
}
.user-credentials .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.user-credentials .form-control:focus {
  z-index: 2;
}
.user-credentials input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.user-credentials input[type="password"] {  
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login{ margin-top: 10px; }
.forgot-password{ display: block; margin-top: 5px; }