<form class="form-signin" name="loginForm" ng-controller="SignupController" ng-submit="signup(credentials)" novalidate>
  <h2 class="form-signin-heading">Sign Up</h2>
  <label for="first_name" class="sr-only">First name</label><input type="text" id="first_name" class="form-control" placeholder="First name" ng-model="credentials.first_name" required autofocus />
  <label for="last_name" class="sr-only">Last name</label><input type="text" id="last_name" class="form-control" placeholder="Last name" ng-model="credentials.last_name" required autofocus />
  <label for="inputEmail" class="sr-only">Email address</label><input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="credentials.email" required >
  <label for="inputPassword" class="sr-only">Password</label><input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="credentials.password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
</form>